@font-face {
	font-family: 'Sarabun Thin';
	font-weight: 100;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-Thin.ttf');
}

@font-face {
	font-family: 'Sarabun Thin Italic';
	font-weight: 100;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-ThinItalic.ttf');
}

@font-face {
	font-family: 'Sarabun Extra Light';
	font-weight: 200;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-ExtraLight.ttf');
}

@font-face {
	font-family: 'Sarabun Extra Light Italic';
	font-weight: 200;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-ExtraLightItalic.ttf');
}

@font-face {
	font-family: 'Sarabun Light';
	font-weight: 300;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-Light.ttf');
}

@font-face {
	font-family: 'Sarabun Light Italic';
	font-weight: 300;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-LightItalic.ttf');
}

@font-face {
	font-family: 'Sarabun';
	font-weight: 400;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-Regular.ttf');
}

@font-face {
	font-family: 'Sarabun Italic';
	font-weight: 400;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-Italic.ttf');
}

@font-face {
	font-family: 'Sarabun Medium';
	font-weight: 500;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-Medium.ttf');
}

@font-face {
	font-family: 'Sarabun Medium Italic';
	font-weight: 500;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-MediumItalic.ttf');
}

@font-face {
	font-family: 'Sarabun Semi Bold';
	font-weight: 600;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-SemiBold.ttf');
}

@font-face {
	font-family: 'Sarabun Semi Bold Italic';
	font-weight: 600;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-SemiBoldItalic.ttf');
}

@font-face {
	font-family: 'Sarabun Bold';
	font-weight: 700;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-Bold.ttf');
}

@font-face {
	font-family: 'Sarabun Bold Italic';
	font-weight: 700;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-BoldItalic.ttf');
}

@font-face {
	font-family: 'Sarabun Extra Bold';
	font-weight: 800;
	font-style: normal;
	src: url('./fonts/Sarabun/Sarabun-ExtraBold.ttf');
}

@font-face {
	font-family: 'Sarabun Extra Bold Italic';
	font-weight: 800;
	font-style: italic;
	src: url('./fonts/Sarabun/Sarabun-ExtraBoldItalic.ttf');
}